**[{{ name }}](https://play.google.com/store/apps/details?id={{ name }})**

{% if reviews|length %}
{% for review in reviews %}
#{{ loop.index }} - {% include 'common/stars.njk' %} - {{ review.author }} - {{ review.title }}
{% endfor %}
{% else %}
There are no reviews for this Andriod app.
{% endif %}
