{% if new %}New{% else %}#{{ number }}{% endif %} **Android** app review for [{{ name }}](https://play.google.com/store/apps/details?id={{ name }})

{% include 'common/stars.njk' %} - {{ review.author }}

> {{ review.text }}
