{% if new %}New{% else %}#{{ number }}{% endif %} **iOS** app review for "**{{ name }}**"

{% include 'common/stars.njk' %} - {{ review.title }}

by {% include 'ios/author.njk' %}


{{ review.content }}